<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA_Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>FredrikasQuiz</title>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/quizstyle.css">
	</head>
	<body>
		<h1>Tryck quizzet</h1>
<script src="https://ajax.googleapis.com/ajax/libs/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- <div class="container">
	<div class="row">
		<div class="col-md-4">Kolumn 1</div>
		<div class="col-md-4">Kolumn 2</div>
		<div class="col-md-4">Kolumn 3</div>
	</div>
</div> -->
	<div class="ingress"> 
		<p>
			<br>
			Välj det som du tycker verkar roligast: 
			<br>
			<br>
		</p>
	</div>
		<div class="mylist"> 
			<ul>
				{% for quiz in quizzes %}
					<li><a href="{% url 'quiz_page' quiz.quiz_number %}">
						{{ quiz.name }}
					</a></li>
				{% endfor %}
			</ul>
		</div>
		<br>
		<br>
		<!-- <p>
		<img src="/static/BG.jpg" width="full" height="full">
		</p> -->

		<div class="footer">
            <a href="https://fredrikastern.com">Besök mig</a>
            <br>
            <br>
            <a href="fredrika.stern@gmail.com">Maila mig</a>
        </div>
		</body>
		</html>