@import url('https://fonts.googleapis.com/css?family=Lora');

a {
	color: white;
	font-family: Helvetica;
	font-size: 30px
}

a:hover {
	color: rgb(250, 239, 150);
	font-family: Helvetica;
	font-size: 30px
}

h1 {
	color: rgb(250, 239, 150);
	font-family: 'Lora', serif;
	font-weight: bold;
	font-size: 10vw;
	line-break: 140px;
	text-align: center;
	padding-top: 60px;
}

h2 {
	color: rgb(250, 239, 150);
	font-family: 'Lora', serif;
	font-weight: bold;
	font-size: 5vw;
	text-align: center;
	padding-top: 60px;
}

p {
	font-family: 'Lora', serif;
	color: rgb(250, 239, 150);
	font-size: 3vw;
	line-break: auto;
	text-align: center;
}

h4 {
	color: white;
	font-family: 'Lora', serif;
	font-size: 10vw;
	line-break: 180px;
	text-align: center;
	padding-top: 60px;
}

.ingress {
	font-family: 'Lora', serif;
	color: rgb(250, 239, 150);
	font-size: 5vw;
	line-break: auto;
	text-align: center;
}

/*img {
	border: 10px solid #ffff;
	border-radius: 40px;
	padding: 5px
	width: 500px;
}*/

ul {
  list-style-type: none;
}


.mylist {
	list-style-type: none;
	color: white;
	font-family: helvetica;
	font-size: 60px;
	text-align: center;
}

.question {
	font-family: helvetica;
	font-weight: bold;
	color: yellow;
	font-size: 40px;
	text-align: center;
}

.options {
	font-family: helvetica;
	font-weight: regular;
	color: white;
	font-size: 30px;
	text-align: center;
}

button {
    background-color: purple;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 24pt;
    border-radius: 25px;
    box-shadow: none;
    outline: 0;
    border: 0;
}

*{font-family: 'Helvetica', sans-serif;}

/*#css for radio btn*/

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }

  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}
.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: white;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: rgb(250, 239, 150);
}

/*#Too get rid of blue box shadow around button*/

.option-input:focus {
outline: none !important;
}
.option-input:checked {
  background: purple;
}
.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s: none;
  -moz-animation: click-wave 0.65s: none;
  animation: click-wave 0.65s: none;
  background: #40e0d0;
  content: '';
  display: block:;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}
 
.footer {
 position: fixed;
 right: 0;
 bottom: 0;
 left: 0;
 padding: 1rem;
 background-color: rgb(250, 239, 150);
 text-align: right;
 font: Helvetica;
 font-size: 14pt;
}

.footer a {
    text-align: right;
 	color: purple;
    font: Helvetica;
    font-size: 14pt;
}

.footer p {
    text-align: right;
 	color: purple;
    font: Helvetica;
    font-size: 14pt;
}