<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA_Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>FredrikasQuiz</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="style.css" rel="stylesheet">
	</head>
	<body>
		<h1>Comlpeted</h1>
<script src="https://ajax.googleapis.com/ajax/libs/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
		<p>
			Roligt att du har hittat hit! Det här är min allra första sajt. <br> Fett nervigt. <br> <br> För att titta på grejer jag gjort, <br> spana in
			<a href="http://fredrikastern.com" class="linkcolor"> min portfolio</a>. <br>	<br> <div class="specialtext"> Och det här är jag!
		</div> 
		</p>
		<p>
		<img src="IMG_3255.JPG" height="400" width="400">
		</p>
		<div class="mylist"> 
		<p>
			<div class="listheader"> 
			Saker jag gillar: 
		</div>
		</p>
			<ul>
				<li>Design</li>
				<li>Kaffe</li>
				<li>Skidor</li>
			</ul>
		</div>
				<div class="form">
					<p>
						<div class="formheader"> 
				Fyll i formuläret nedan så kontaktar jag dig
			</div>
			</p>
			<form id="form" name="form" method="post" action=" ">
				Förnamn: <br />
				<input type="text" name="fnamn" id="fnamn"/> <br/>
				Efternamn: <br />
				<input type="text" name="enamn" id="fnamn"/> <br/>
				E-postadress: <br /> <input type="epost" id="epost" /> <br/>
				<input type="submit" name="skicka" id="skicka" value="Skicka meddelandet" class="btn" />
			</form>
			</div>
		</body>
		</html>