<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA_Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>FredrikasQuiz</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="quizstyle.css" rel="stylesheet">
	</head>
	<body>
		<h1>SUPERDUPER QUIZ</h1>
<script src="https://ajax.googleapis.com/ajax/libs/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- <div class="container">
	<div class="row">
		<div class="col-md-4">Kolumn 1</div>
		<div class="col-md-4">Kolumn 2</div>
		<div class="col-md-4">Kolumn 3</div>
	</div>
</div> -->
		<p>
			Detta är en sida med 3 olika quiz!
		</p>
		<div class="mylist"> 
		<!-- <p>
			<div class="listheader"> 
			Quiz att välja mellan: 
		</div>
		</p> -->
			<ul>
				<li>Quiz 1</li>
				<li>Quiz 2</li>
				<li>Quiz 3</li>
			</ul>
		</div>
		<p>
		<img src="IMG_3255.JPG" height="400" width="400">
		</p>
		<!-- 		<div class="form">
					<p>
						<div class="formheader"> 
				Har du frågor? Fyll i formuläret nedan så kontaktar jag dig
			</div>
			</p>
			<form id="form" name="form" method="post" action=" ">
				Förnamn: <br />
				<input type="text" name="fnamn" id="fnamn"/> <br/>
				Efternamn: <br />
				<input type="text" name="enamn" id="fnamn"/> <br/>
				E-postadress: <br /> <input type="epost" id="epost" /> <br/>
				<input type="submit" name="skicka" id="skicka" value="Fråga mig" class="btn" />
			</form>
			</div> -->
		</body>
		</html>